/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  height: 100%; }

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex; }

/* --------------------------------------- */
.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e7e7e7; }
  .sidebar h2 {
    width: inherit;
    height: 40px;
    align-self: flex-start;
    font-size: 20px;
    padding: 14px 0 0 10px;
    color: #777; }
  .sidebar .projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  .sidebar .project-actions {
    width: inherit;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center; }
    .sidebar .project-actions .add {
      margin-right: 10px; }

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1; }
