@import "globals";

.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e7e7e7;

  h2 {
    width: inherit;
    height: 40px;
    align-self: flex-start;
    font-size: 20px;
    padding: 14px 0 0 10px;
    color: #777;
    margin-bottom: 0;
  }

  .projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .project-actions {
    width: inherit;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center;
    .add{ margin-right: 10px; }
  }
}
