@import "globals";
@import "reset";

/* --------------------------------------- */
#holder {
  border: 10px dashed #ccc;
  width: 300px;
  height: 300px;
  margin: 20px auto;
}

#holder.hover {
  border: 10px dashed #333;
}
/* --------------------------------------- */

.project-wrapper{
    // position: relative;
    float: left;
    width: 150px;
    border-right: 1px solid black;
}

.apps, .projects {
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        float: left;
        margin: 0 5px;

        &.selected{
            text-decoration: underline;
        }
    }
}

