<!doctype html>
<html lang="en" ng-app="App">
<head>

    <meta charset="UTF-8">
    <title>JS Toolkit</title>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../scripts/common/config.js"></script>

    <script src="../scripts/libs/angular.js"></script>
    <script src="../scripts/libs/angular-route.js"></script>

    <!-- Helpers -->
    <script src="../scripts/helpers/bower-helper.js"></script>
    <script src="../scripts/helpers/store-helper.js"></script>

    <!-- Controllers -->
    <script src="../scripts/Controllers/MainCtrl.js"></script>
    <script src="../scripts/Controllers/ProjectsCtrl.js"></script>
    <script src="../scripts/Controllers/YeomanCtrl.js"></script>
    <script src="../scripts/Controllers/BowerCtrl.js"></script>
    <script src="../scripts/Controllers/GruntCtrl.js"></script>
    <script src="../scripts/Controllers/GulpCtrl.js"></script>
    <script src="../scripts/Controllers/KarmaCtrl.js"></script>
    <script src="../scripts/Controllers/NpmCtlr.js"></script>

    <!-- Services -->
    <script src="../scripts/Services/FileSystemSrv.js"></script>
    <script src="../scripts/Services/BowerSrv.js"></script>
    <script src="../scripts/Services/StoreSrv.js"></script>
    <script src="../scripts/Services/ProjectsSrv.js"></script>
    <script src="../scripts/app.js"></script>

</head>
<body ng-controller="MainCtrl" class="flexbox-parent">

    <div class="sidebar" ng-include="'sidebar.html'"></div>
    <div class="main" ng-include="'main.html'"></div>


<script type="text/javascript">

    // prevent default behavior from changing page on dropped file
    //    window.ondragover = function (e) {
    //        e.preventDefault();
    //        return false;
    //    };
    //    window.ondrop = function (e) {
    //        e.preventDefault();
    //        return false;
    //    };
    //
    //    var holder = document.getElementById('holder');
    //    holder.ondragover = function () {
    //        this.className = 'hover';
    //        return false;
    //    };
    //    holder.ondragend = function () {
    //        this.className = '';
    //        return false;
    //    };
    //    holder.ondrop = function (e) {
    //        e.preventDefault();
    //
    //        for (var i = 0; i < e.dataTransfer.files.length; ++i) {
    //            console.log(e.dataTransfer.files[i].path);
    //        }
    //        return false;
    //    };
    //
</script>

</body>
</html>
