<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">
        <li ng-repeat="app in apps" ng-class="{active: app.isSelected}">
            <a href="#/{{app.name|lowercase}}">{{app.name}}</a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
                Settings
            </a>
        </li>
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-remove"></span>
                Close
            </a>
        </li>
    </ul>
</nav>

<ng-view></ng-view>

<!--<div id="holder"></div>-->

<!--<div ng-controller="ProjectCtrl" class="project-wrapper">-->

<!--<h2>Projects: </h2>-->

<!--<ul class="projects">-->
<!--<li ng-repeat="proj in projects" ng-click="onProjectClick(proj)" ng-class="{selected: proj.isCurrent}">-->
<!--{{proj.name}}-->
<!--</li>-->
<!--</ul>-->


<!--<div class="project-actions">-->

<!--<input style="display:none;" id="fileDialog" type="file" nwdirectory nwworkingdir="/Users"/>-->

<!--<div class="btn add" ng-click="onAddProject()">+ Add</div>-->
<!--<div class="btn remove" ng-click="onRemoveProject()">- Rmove</div>-->
<!--</div>-->
<!--</div>-->

<!--<ul class="apps">-->
<!--<li ng-repeat="app in apps" ng-class="{selected: app.isSelected}">-->
<!--<a href="#/{{app.name|lowercase}}"-->
<!--ng-click="switchApp(app)">-->
<!--{{app.name}}-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->


